@import "../abstracts/variables";
@import "../abstracts/mixins";

.contact {
    padding: 30px 20px 50px;
    @include flex (column, center, center, 30px);
    border-top: 1px solid $primary-black;

    @media (min-width: $bp-md) {
        padding: 30px 30px 50px;
        gap: 40px;
    }

    @media (min-width: $bp-lg) {
        padding: 100px 70px;
        @include flex (row, center, flex-start, 40px);
    }
}

.contact__wrapper {
    @include flex (column, center, center, 30px);

    @media (min-width: $bp-lg) {
        @include flex (column, center, flex-start, 30px);
    }

    & h3 {
        color: $primary-black;
        text-align: center;
        font-family: Gilroy-Bold;
        font-size: 50px;
        text-transform: uppercase;

        @media (min-width: $bp-md) {
            font-size: 64px;
        }

        @media (min-width: $bp-lg) {
            text-align: start;
        }
    }

    & p {
        color: $primary-black;
        text-align: center;
        font-family: Gilroy-Medium;
        font-size: 30px;

        @media (min-width: $bp-md) {
            font-size: 34px;
        }

        @media (min-width: $bp-lg) {
            text-align: start;
        }
    }
}

.contact__title {
    color: $secondary-black;
    text-align: center;
    font-family: Gilroy;
    font-size: 70px;
    font-weight: 300;
    text-transform: uppercase;

    @media (min-width: $bp-md) {
        font-size: 150px;
    }
}