.dianne-russell {
    padding-top: 85px;
    color: $primary-black;
    text-align: center;

    &__title{
        display: flex;
        padding: 0 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media(min-width: $bp-md) {
        padding-top: 171px;
    }

    @media(min-width: $bp-lg) {
        border-top: 1px solid $primary-black;
        border-bottom: 1px solid $primary-black;
    }
}

.dianne-russell__title-dianne {
    font-family: 'Gilroy-SemiBold';
    font-size: 54px;
    text-transform: uppercase;

    @media (max-width: $bp-xs) {
        font-size: 34px;
    }

    @media (min-width: $bp-md) and (max-width: 1000px) {
        font-size: 87px;
    }

    @media (min-width: 1000px) {
        font-size: 115px;
    }
}

.dianne-russell__subtitle-digital {
    font-family: 'Gilroy';
    font-size: 54px;
    font-weight: 300;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 84px;

    @media (max-width: $bp-xs) {
        font-size: 34px;
    }

    @media (min-width: $bp-md) and (max-width: 1000px) {
        font-size: 87px;
        margin-bottom: 110px;
    }

    @media (min-width: 1000px) {
        font-size: 115px;
        margin-bottom: 121px;
    }

    &::after {
        height: 40px;
        content: url(../../img/svg/arrow-down.svg);
        position: absolute;
        right: 50%;
        top: 70px;

        @media (max-width: $bp-xs) {
            top: 40px;
        }

        @media (min-width: 768px) {
            top: 80px;
        }
        @media (min-width: $bp-lg) {
            top: 90px;
        }
    }
}

.dianne-russell__image {
    width: 100%;
    aspect-ratio: .75;
    object-fit: cover;

    @media(min-width: $bp-md) {
        aspect-ratio: 1.04;
    }

    @media (min-width: $bp-lg) {
        aspect-ratio: 2;
    }
}

.dianne-russell__description-container {

    @media (min-width: $bp-lg) {
        display: flex;
        margin: 70px 0 93px 70px;
        justify-content: space-between;
    }
}

.dianne-russell__description {
    padding: 30px 20px;
    color: $primary-black;
    text-align: center;
    font-family: 'Gilroy';
    font-size: 30px;
    font-weight: 300;

    & span {
        font-weight: 800;
    }

    @media(min-width: $bp-md) {
        padding: 30px;
        font-size: 42px;
    }

    @media (min-width: $bp-lg) {
        padding: 0px 70px 0 0;
        font-size: 46px;
    }
    @media(min-width: 1600px) {
        padding: 30px;
        font-size: 52px;
    }
}

.dianne-russell__social-media-container {
    padding: 40px 30px;
    background: $primary-black;
    @include flex(column, center, flex-end, 30px);
}

.dianne-russell__about-me {
    color: $white;
    font-family: 'Gilroy-Medium';
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;

    @media (min-width: $bp-lg) {
        display: flex;
        flex-direction: column;
        align-items: flex-end; 
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
    }
}

.dianne-russell__social-media {
    @include flex(row, center, center, 20px);
}