@import "../abstracts/variables";
@import "../abstracts/mixins";

.footer {
  @include flex (column, center, center, 20px);
  padding: 20px 30px;
  width: 100%;
  background-color: $background;
  border-top: 1px solid $primary-black;

  & span {
    color: $secondary-black;
    font-family: Gilroy-SemiBold;
    font-size: 18px;
  }

  @media (min-width: $bp-md) {
    padding: 45px 30px;
    @include flex (row, space-between, center, 20px);
  }

  @media (min-width: $bp-lg) {
    padding: 25px 70px;
  }
}

.footer__text {
  text-align: center;
  color: $secondary-black;
  font-family: Gilroy-Regular;
  font-size: 18px;
}

.footer__list{
  @include flex (row, center, center, 10px);
}