@import "../abstracts/variables";
@import "../abstracts/mixins";

.what-do {
    @include flex (column, center, center, 40px);
    width: 100%;
    height: 100%;
    position: relative;
    border-bottom: 1px solid $primary-black;
    
    &::before {
        content: '';
        background-image: url("../img/what-i-do-bgd.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 478px;
        top: 0;
        left: 0;

        @media (min-width: $bp-md) {
            height: 900px;
        }

        @media (min-width: $bp-lg) {
            width: 100%;
            height: 1035px;
        }
      }

    @media (min-width: $bp-lg) {
        width: 100%;
        @include flex (row, center, flex-start, 0);
    }
}

.what-do__container {
   
    @media (min-width: $bp-lg) {
        width: 100%;
        box-sizing: border-box;
    }
}

.what-do__title {
    color: $primary-black;
    text-align: center;
    font-family: Gilroy;
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 40px;

    @media (min-width: $bp-md) {
        font-size: 120px;
    }

    @media (min-width: $bp-lg) {
        padding: 50px 50px 0 90px;
        font-size: 80px;   
    }
}

.what-do__wrapper {
    width: 100%;
    padding: 0 20px 20px;
    @include flex (column, center, center, 30px);

    @media (min-width: $bp-md) {
        padding: 0 30px 30px;
        gap: 40px;
    }

    @media (min-width: $bp-lg) {
        @include flex (column, center, flex-start, 40px);
        padding: 0 50px 50px 90px ;
    }
}

.what-do__secondary-title {
    margin-left: 40px;
    margin-top: 30px;
    color: $black;
    font-family: Gilroy-SemiBold;
    font-size: 30px;
    text-transform: uppercase; 
    position: relative;

    @media (min-width: $bp-md) {
        margin-left: 50px;
        font-size: 35px;
        line-height: 48px;
    }

    &::before {
        content: '01';
        position: absolute;
        top: 0;
        left: -40px;

        @media (min-width: $bp-md) {
            left: -50px;
        }
    }
}

.what-do__design:nth-child(1) .what-do__secondary-title  {
    margin-top: 0;
}


.what-do__design:nth-child(2) .what-do__secondary-title::before  {
    content: '02';
}

.what-do__design:nth-child(3) .what-do__secondary-title::before  {
    content: '03';
}

.what-do__design:nth-child(4) .what-do__secondary-title::before  {
    content: '04';
}

.what-do__text {
    color: $black;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.what-do__design {
    @include flex (column, center, flex-start, 10px);
    position: relative;

    &:nth-child(n+2)::before {
        width: 100%;
        content: '';
        position: absolute;
        border-bottom: 1px solid #252525;
        top: 0;
        right: 0;
    }
}